@import "../../index.scss";

.header-content{
    .org-logo {
        IMG { width: 4.35rem; margin-top: .4rem; display: block; }
    }
    .menu {
        .menu-item {
            .icon {
                color: getColor($theme); padding: 0 1rem; min-width: 45px; font-size: 1.1rem; display: block;
                &:hover, &.active { background-color: $theme-sl; }
            }
        }
    }
    .icons-container {
        .user-icon {
            margin-top: -.1rem;
            SPAN { background-color: #fff; color: #000;}
        }
        .user-info {
            line-height: 1.4; padding: .3rem 1rem; font-size: .7rem; font-weight: 500; text-align: right;
            .wl-text { display: block; color: #99ccff; }
            .un-text { color: getColor($theme); }
        }
        .icon {
            padding: 0 1rem; font-size: 1rem; cursor: pointer; color: getColor($theme);
            &:hover, &.active { background-color: $theme-sl; }
        }
    }
}

