@import '../../index.scss';

.header{
  position: fixed; z-index: 1; width: 100%; height: 2.6rem; padding: 0 1rem; line-height: 2.6rem; background-color: $theme;
}

.content {
  padding-top: 2.6rem;
}