/* COLOR THEME OF APPLICATION */
$theme: #0169b4;
$theme-sl: #005aa5;
$theme-menu-sl: #c4ad54;
$grey: #f0f0f0;


@import '~antd/dist/antd.css';
.pull-left { float: left !important; }
.pull-right { float: right !important; }
.text-right { text-align: right !important; }
.text-left { text-align: left !important; }
.text-center { text-align: center !important; }

/* GET COLOR */
@function getColor($color) {
    @if (lightness($color) > 50) {
        @return #333; // Lighter backgorund, return dark color
    } @else {
        @return #fff; // Darker background, return light color
    }
}